#!/bin/bash

# your MAL API ID
export CLIENT_ID=""

export DEV_PORT=8787
# you will need to create these on your own
export DEV_PRIVATE_KEY="cert/localhost-key.pem"
export DEV_CERTIFICATE="cert/localhost.pem"

export PROD_PORT=9898
# these too
export PROD_PRIVATE_KEY="PATH/TO/YOUR/PRIVKEY"
export PROD_CERTIFICATE="PATH/TO/YOUR/CERT"
